@charset "UTF-8";
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
body {
    margin: 0;
	padding: 0;
	/* background-color: #f9f9f9; */
}

#main{
	width: 100%;
	height: 100%;
	position: relative;
}     
.container{
	width: 100%;
	height: calc(100vh - 120px);

}
.board {
    max-width: 1400px;
    margin: 0px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
 
    left: 50%;
     transform: translate(-50%, 0%); 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: right;
}
#searchType{

        border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    /* padding: 12px 13px; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 4%;
    text-align: center;
}

#searchType:focus{
    border: 1px solid #9B51E0;
    box-sizing: border-box;
    border-radius: 10px;

    border-radius: 10px;
    text-align: center;
}


#searchInput {
  
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchButton {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;

    cursor: pointer;
}

#allListButton {
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 30px;
    cursor: pointer;
}


#searchButton:hover {
    background-color: #0056b3;
}

.post-table {
    width: 100%;
    border-collapse: collapse;
    color:black;
}

.post-table th, .post-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.post-table th {
    background-color: #f2f2f2;
    text-align: center;
    font-family: Arial, sans-serif;
}

.post-table td {
    text-align: center;
}

#writeButton {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

#writeButton:hover {
    background-color: #1e7e34;
}