@charset "UTF-8";
@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
}
@font-face {
  font-family: "HSBombaram";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
	
	
  list-style: none;
}

a {
  text-decoration-line: none;
  color: black;
}

.container {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}

.main {
  background-color: black;
  position: relative;
  height: calc(100vh - 120px);
}
body {

  background: #eee;
  font-family: "TheJamsil5Bold";

  margin: 0;
}
span {
  font-family: "TheJamsil5Bold";
}
p {

  font-family: "Chosunilbo_myungjo";
}
h3 {
  font-family: "TheJamsil5Bold";
}

/* <!-- ************************메인***************************** --> */

#main_left {
  /* background-image: url("../11.jpg"); */
  width: 50%;
  height: 100%;
  background-size: cover;
  position: absolute;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#main_left div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  border: 3px solid black;
  border-radius: 20px;
}

#main_right {
  background-image: url("../Image/Audition/audition_bg.jpg");
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../Image/company/slide1/slide1_bg.jpg"); */
  width: 43%;
  height: 100%;
  background-size: cover;
  position: absolute;
  right: 0%;
  text-align: center;
  color: white;
  overflow: hidden;
  z-index: 1;
}

#main_right ul {
  margin: 0px;
  padding: 0px;
  top: 14%;
  width: 100%;
  position: absolute;
  height: 80%;
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
  display: flex;
}
#top_2 {
  font-size: 50px;
  font-style: italic;

  font-weight: bold;
}
#main_right p {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
#main_right ul li {
  margin-bottom: 50px;
  height: 35%;
  width: 100%;

  align-items: center;
}

#who {
  width: 100%;

  font-size: 120px;

  box-sizing: border-box;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-position: under;
  text-shadow: 4px 4px 8px black;
  margin-bottom: -5px;
  color: white;
  opacity: 1;
}
#top_2 {
  line-height: -5%;
  color: skyblue;
  line-height: normal;
  letter-spacing: 5px;
  text-align: center;
}
#top_3 {
  line-height: -5%;
  color: white;
  line-height: normal;
  letter-spacing: 5px;
  text-align: left;
  font-size: 30px;
}

#main_right button {
  width: 250px;
  height: 70px;
  font-size: 23px;
  justify-content: space-around;
  background-color: red;
  border: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  transform: translate(0%, 0%);

  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#main_right button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#main_right button:hover,
#main_right button:focus,
#main_right button:active {
  color: black;
}
#main_right button:hover:before,
#main_right button:focus:before,
#main_right button:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
	color:black;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal.show {
  display: block;
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 1000px;
  height: 700px;

  /* padding: 40px; */

  /* text-align: center; */

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
  z-index: 500;
}
.m_head {
  height: 2%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #e7e5e5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.m_body {
  height: 70%;
  padding: 20px;
}
.m_footer {
  height: 5;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e7e5e5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  bottom: 0%;
  position: absolute;
  width: 100%;
}
.modal_title {
  font-size: 18px;
  color: gray;
  font-weight: 500;
}
.close_btn {
  font-size: 20px;
  color: rgb(139, 139, 139);
  font-weight: 900;
  cursor: pointer;
}
.modal_label {
  padding-top: 10px;
  color:black;
}
#modal_text{
	position: absolute;
	left:48%;
}
#m_top_bottom{
	width:5000px;
	height:5000px;
}
.input_box {
  width: 100%;
  border: 1px solid rgb(189, 189, 189);
  height: 30px;
  box-sizing: border-box;
}
.text_box{



	  border: 1px solid rgb(189, 189, 189);
  border-radius: 10px;
  box-sizing: border-box;
    width: 87%;
    height: 23em;
    position: absolute;
    left:7%;
    padding:5px 10px;
    top:44%;

}
form input::file-selector-button {
  display: none;
}
form input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
}
#file-input {
  width: 30%;
}
#preview {
  width: 90%;
  border: 1px solid black;
  height: 80%;
  border-radius: 10px;
  margin-top:15px;
}
#m_top_text {
  height: 200px;
  position: relative;
  display: flex;
  vertical-align: center;

  justify-content: center;
  align-items: center;
}
#m_top_left {
  width: 45%;
  height: 100%;
   text-align:center;
}
#m_top_right {
  width: 45%;
  height: 100%;
 
}
.modal_btn {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  padding-top: 5px;
  margin-left: 5px;
}
.cancle {
  background-color: white;
  color: black;
}
.save {
  background-color: rgb(50, 77, 158);
  color: white;
}
/* <!-- ************************하단***************************** --> */